@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:wght@100;400&display=swap');
body {
  background: #949494;
}
h1 {
  font-size: 50px;
  color: #ffc107;
  text-align: left;
}

h2 {
  font-size: 30px;
  color: #111;
  text-align: left;
}

.circlemain {
  height: 100px;
  width: 100px;
  background-color: #111;
  display: inline-block;
  border-radius: 50%;
}

.circlemain1 {
  height: 100px;
  width: 100px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
}
.circlemain2 {
  height: 100px;
  width: 100px;
  background-color: #343a40;
  display: inline-block;
  border-radius: 50%;
}
.circlemain3 {
  height: 100px;
  width: 100px;
  background-color: #6c757d;
  display: inline-block;
  border-radius: 50%;
}

.circleF1 {
  height: 100px;
  width: 100px;
  background-color: #111;
  display: inline-block;
  border-radius: 50%;
}
.circleF2 {
  height: 100px;
  width: 100px;
  background-color: #ffc107;
  display: inline-block;
  border-radius: 50%;
}

.circleF3 {
  height: 100px;
  width: 100px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
}

.circleF4 {
  height: 100px;
  width: 100px;
  background-color: #111;
  display: inline-block;
  border-radius: 50%;
}

.circleS1 {
  height: 100px;
  width: 100px;
  background-color: #111;
  display: inline-block;
  border-radius: 50%;
}
